header{
	background-color:red&semi;
}

nav{
	background-color:yellow&semi;
}

section{
	background-color:blue&semi;
}
aside{
	background-color:orange&semi;
}

article{
	background-color:grey&semi;
}

footer{
	background-color:purple&semi;
}